<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fruit.mapper.GuestSessionsMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into user
            (email, password)
        values (#{email}, #{password})
    </insert>

    <insert id="insertEntity">
        insert into guest_sessions
            (nickname, gender, height_cm, weight_kg, age, email, bmi_value)
        VALUES (#{nickname}, #{gender}, #{heightCm}, #{weightKg}, #{age}, #{email}, #{bmiValue})
    </insert>
    <insert id="insertGuessSession">
        insert into guest_sessions
            (id, email)
        values (#{id}, #{email})
    </insert>

    <update id="updatePasswordByEmail">
        update user
        set password = #{password}
        where email = #{email}
    </update>
    <update id="updateById">
        UPDATE guest_sessions
        SET nickname     = #{nickname},
            age          = #{age},
            gender       = #{gender},
            height_cm    = #{heightCm},
            weight_kg    = #{weightKg},
            bmi_value    = #{bmiValue},
            is_completed = #{isCompleted}
        WHERE id = #{id}
    </update>


<select id="selectByEmailAndPassword" resultType="com.fruit.entity.po.GuestSessions">
select *
from user
where email = #{email}
  and password = #{password}
</select>

<select id="verifyEmail" resultType="com.fruit.entity.po.GuestSessions">
select *
from user
where email = #{email}
</select>

<select id="getEntityById" resultType="com.fruit.entity.po.GuestSessions">
select *
from guest_sessions
where id = #{id}
</select>


        </mapper>