<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fruit.mapper.PointsMapper">
    <insert id="insertPoints">
        insert into user_points (user_id) value (#{id})
    </insert>


    <select id="getPointsByUserId" resultType="java.lang.Long">
        select points
        from user_points
        where user_id = #{userId}
    </select>
</mapper>